<div class="mx-auto md:w-2/3 w-full mt-3 px-[15px]">
  <h1 class="font-bold text-4xl">Create Car</h1>

  <%= render "form", buyer_listing: @buyer_listing %>

  <%= link_to 'Back', buyer_listings_path, class: " mt-4 no-underline relative inline-flex items-center rounded-md bg-black px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-[20px] mb-[20px]" %>
  </div>
