
h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin: 20px 0;
    border-left: 5px solid black;
    padding-left: 20px;
}
.header_admin {
    margin-top: 50px;
}
.header_admin  p {
    font-size: 16px;
}

.error_div{
    width: 100%;
}